.cards > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(322px, 1fr));
  grid-gap: 16px;
}

.cards > ul > li {
  border: 1px solid var(--dark-color);
  background-color: var(--background-color);
  border-radius: 16px;
  position: relative;
  width: 322px;
}

.cards .cards-card-body {
  margin: 16px;
  position: absolute;
  top: 5%;
  text-align: left;
}

.cards .cards-card-image {
  line-height: 0;
}

.cards .cards-card-body > *:first-child {
  margin-top: 0;
}

.cards > ul > li img {
  width: 100%;
  aspect-ratio: 4 / 3;
  object-fit: cover;
  border-radius: 16px;
  height: 540px;
}

.cards.small > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(522px, 1fr));
  grid-gap: 16px;
}

.cards.small > ul > li {
  width: 580px;
}

.cards.small > ul > li img {
  aspect-ratio: 4 / 3;
  object-fit: contain;
  border-radius: 16px;
  height: 240px;
}